body {
    position: fixed;
    margin: 0px;
    overflow: hidden;
    box-sizing: border-box
}

div {
    box-sizing: border-box
}

.pages {
    position: absolute;
    overflow: hidden;
    margin: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box
}

.pages-popupbox {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    box-sizing: border-box
}

.pages-popupbox-mask {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box
}

.pages-popupbox-content {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    box-sizing: border-box
}

/**
 * 消息盒子样式
 **/
.pages-tipsbox {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    box-sizing: border-box
}

.pages-tipsbox-mask {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box
}

.pages-tipsbox-content {
    position: absolute;
    width: 100%;
    height: fit-content;
    box-sizing: border-box
}

.pages-tipsbox-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45px;
    background: #CCCCCC
}

.pages-tipsbox-content-top-back {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center
}

.pages-tipsbox-content-top-text {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center
}

.pages-tipsbox-content-view {
    width: 100%;
    height: 200px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center
}

/**
 * Toast样式
 **/
.pages-toast {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: -1;
    box-sizing: border-box
}

.pages-toast-mask {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box
}

.pages-toast-content {
    position: absolute;
    height: auto;
    width: auto;
    max-width: 90%;
    line-height: 120%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    word-break: break-all;
    background: #383838;
    font-size: 16px;
    color: #cccccc;
    box-sizing: border-box
}

/**
 * 加载圈样式
 **/
.pages-load {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: -1;
    box-sizing: border-box
}

.pages-load-mask {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box
}

.pages-load-content {
    position: absolute;
    width: 100px;
    height: 100px;
    box-sizing: border-box
}

/**
 * 下拉刷新
 **/
@keyframes linearRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}